<?xml version="1.0" encoding="UTF-8" ?>
<container xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://symfony.com/schema/dic/services"
           xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">
    <services>
        <service id="setono_sylius_image.config.preset_registry"
                 class="Setono\SyliusImagePlugin\Config\PresetRegistry">
            <factory class="Setono\SyliusImagePlugin\Config\PresetRegistry" method="fromArray"/>
            <argument>%setono_sylius_image.presets%</argument>
        </service>

        <service id="setono_sylius_image.config.image_resource_registry"
                 class="Setono\SyliusImagePlugin\Config\ImageResourceRegistry">
            <factory class="Setono\SyliusImagePlugin\Config\ImageResourceRegistry" method="fromArray"/>
            <argument>%setono_sylius_image.image_resources%</argument>
        </service>
    </services>
</container>
